.messageBox {
  background: #f3f3f3;
  border-radius: 10px;
  padding: 0 12px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.adminMessageBox {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 1px 30px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  width: 100%;
  margin-bottom: 12px;
  letter-spacing: 0;
  float: left;
  font-size: 1em;
  word-wrap: break-word;
}

.adminMessageText {
  width: 100%;
  margin: 5px;
  letter-spacing: 0;
  float: left;
  font-size: 0.8em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 5px;
}

.adminMessageContainer {
  display: flex;
  justify-content: center;
  padding: 0 5%;
  margin-top: 10px;
}

.fromUserText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.timestampText {
  display: block;
  text-align: end;
  font-family: Helvetica;
  color: #828282;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.mt-0 {
  margin-top: 0;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundYellow {
  background: rgba(255, 245, 196, 0.95);
}

.backgroundBlue {
  background: #2979ff;
}

.backgroundLight {
  background: #f3f3f3;
}
